# ----------------------------------------------------------------------------------------------------------------
# ignore all the directories named `.terraform`
# and all the `local.tfvars` including nested files
# ----------------------------------------------------------------------------------------------------------------
**/.terraform/*
**/local.tfvars
